/* Global Styles */
:root {
    --ui-color: #c0c0bd;
}
a {
    color: #19c8e3;
    text-decoration: underline;
    transition: all 0.15s ease-in-out;
}
a:hover,
a:active {
    color: #2086ab;
    text-decoration: underline;
}
html {
    font-size: 22px;
    overflow: hidden;
}
body {
    background: #4c95a1;
    color: var(--ui-color);
    font-family: 'Raleway',"Lato", helvetica, arial, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 15vh;
}
.bg-image {    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/BG/Default/Default_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    filter: blur(4px);  
    left: 0px;
    height: 100vh;
    width: 100vw;
    padding-top: 5rem;
    position: fixed;
    top: 0px;
    z-index: -10;
    transform: scale(1.05);
}
.content-container {
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway',"Lato", helvetica, arial, sans-serif;
    font-weight: 100;
}
/* PAGE TITLE STYLES */
.page-title { 
    background: rgba(0,0,0,1);
    min-width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0px;
}
.page-title h1 {
    font-size: 0.93rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}
/* NEW FACT BUTTON STYLES */
.new-fact {
    float: right;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
}
.new-fact button {
    background: transparent;
    border: 3px solid var(--ui-color);
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Raleway',"Lato", helvetica, arial, sans-serif;
    font-size: 0.93rem;
    font-weight: 100;
    margin: 1rem 1.5rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;  
}
.new-fact button:hover,
.new-fact button:active {
    background: transparent;
    border: 3px solid rgba(192, 192, 189, 0.2); 
    color: rgba(192, 192, 189, 0.2); 
}
/* FACT STYLES */
.fact {
    --sep-line-spacing: 0.9em;   
    background: rgba(0,0,0,0.6);
    border: 3px solid var(--ui-color);
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 60vw;
    margin: 4em auto;
    padding: 1em 1.25em;
    position: absolute;
    top: 50%;
    transform: translate(-50%,10%);
}
.fact-title {        
    border-bottom: 3px solid var(--ui-color);
    flex: 0 0 0; 
    line-height: 1.25;
    margin-bottom: var(--sep-line-spacing);
    padding-bottom: var(--sep-line-spacing);
}
.fact-title h2 {
    font-size: 2.25em;
}
.fact-body {
    flex: 1 1 3em;
}
.fact-copy {
    line-height: 1.33;
}
.fact-copy img {
    float: right;
    border-radius: 5px;
    margin-left: 2em;
    max-width: 25vw;
}
.fact-link {
    border-top: 3px solid var(--ui-color);
    flex: 0 0 auto;
    margin-top: var(--sep-line-spacing);
    padding-top: var(--sep-line-spacing);
}